<div class="choice-container">

  <div class="choice-text">
    <p class="choice-text__main"><%= t(:customer_registration_head_text) %></p>
    <p class="choice-text__muted"><%= t(:customer_registration_head_text_muted) %></p>
  </div>
  <%= form_with  html: { class: "choice-input" } do %>
    <%= text_field_tag :company_name, nil, class: 'choice-input__field', placeholder: t(:input_company_name) %>
    <%= text_field_tag :phone, nil , class: 'choice-input__field', placeholder:  t(:input_phone) %>
    <%= submit_tag t(:next_button), class: "button button__button-next button--large "%>
  <% end %>
</div>