<div class="project-main">
  <div class="in-line-items head-border-bottom">
      <div class="all-projects">
        Все проекты
      </div>
      <div class="my-projects">
        Мои проекты
      </div>
  </div>
<div class="in-line-items">
  <div class="project-cost">
    <%= t(:project) %>:
    <%= @project.cost %> $
  </div>
  <div class="project-title">
    <%= @project.title %>
    <% if can? :manage, @project %>
        <%= link_to t(:edit), edit_project_path(@project), class: 'project-edit-links' %>
        <%= link_to t(:destroy), project_path(@project),
                    method: :delete,
                    data: { confirm: t(:delete_confirm) }, class: 'project-edit-links' %>
    <% end %>
  </div>
</div>

<div class="in-line-items">
  <div class="project-expires">
      <%= t(:created_at) %>:
      <%= @project.created_at.strftime("%d  %h  %Y") %>
  </div>
  <div class="project-expires">
    <%= t(:expires) %>:
    <%= @project.deadline.strftime("%d  %h  %Y") %>
  </div>
</div>

  <% if @project.user.company_name %>
    <div class="in-line-items">
      <div class="project-company-name">
        <a class="gray-text"><%= t(:project_owner_company_name) %>:</a>
        <%= @project.user.company_name %>
      </div>
    </div>
    <div class="in-line-items">
      <div class="project-company-name">
        <a class="gray-text"><%= t(:project_owner_name) %>:</a>
        <%= @project.user.name %>
      </div>
    </div>
  <%  end %>
  <div class="form-input disable-sides-margin">
    <%= markdown(@project.info) %>
  </div>
  <% unless @project.skills.empty? %>
    <div class="project-skills">
      <div class="project-skills-title">
        <%= t(:require_skills) %>:
      </div>
      <p>
      <div class="in-line-items">
        <% @project.skills.each do |s| %>
            <% if s.is_a?(Array) %>
            <% s.each do |i| %>
              <div class="project-skills-item">
                <%= i.upcase %>
              </div>
            <% end %>
              <% else %>
            <div class="project-skills-item">
              <%= s.upcase %>
            </div>
          <% end %>
        <% end %>
      </div>
      </p>
    </div>
  <% end %>

    <% if @apply %>
    <%= link_to applies_path(@apply), style: 'text-decoration: none; color: black;' do  %>
      <p class="project-apply-text">
        <div class="button--blue button--large" style="background-color: rgba(79,128,77,0.52); text-align: center">
        <%= t(:apply)%>
        <%= @apply.created_at.localtime.strftime('%d/%m/%Y %H:%M') %>
        </div>
      </p>
      <div class="project-company-name col-md-2">
        <%= t(:status) %>
        <%= t(:denied) if @apply.apply_status == false  %>
        <%= t(:waiting) if @apply.apply_status == nil  %>
        <%= t(:accept) if @apply.apply_status == true  %>
      </div>
    <% end %>
    <% else %>
      <%= button_to t(:apply_project), {controller: 'applies', action: 'create', project_id: @project.id}, class: 'button button--blue button--login project-button-position' %>
    <% end %>
<div class=" project-backlink-margin">

  <%= link_to t(:back_to_all_project), projects_path,class: 'project-company-name' %>
</div>



  <div class="project-comments-title"><%= t(:comments) %>:</div>

  <% @project.comments.each do | comment | %>
  <div class="project-comment-item">
    <div class="project-comment-item-own_name">
      <p class="project-comment-owner"><%= comment.user.name %>:</p>
      <div class="project-comment-content"><%= markdown(comment.content) %></div>
      <p class="project-expires project-comment-created_at"><%= comment.created_at.localtime.strftime('%d/%m/%Y %H:%M') %></p>
    </div>
  </div>
  <%end %>

  <% if user_signed_in? %>
    <%= form_with(model: @project.comments.build, local: true) do |form| %>
      <div>
        <p>
          <%= form.label t(:comment) %><br>
          <%= form.text_area :content, class: 'form-main__text-area'%>
        </p>
        <%= hidden_field_tag :project_id, @project.id %>
        <p>
          <%= form.submit class: 'button button--white button--large button--choice' %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
