<section class="top-menu">
  <%= link_to '#' do %>
    <%= content_tag :span, t(:active), class: "top-menu__item-active" %>
  <% end %>
  <%= link_to "#" do %>
    <%= content_tag :span, t(:inactive), class: "top-menu__item" %>
  <% end %>
</section>


<section class="customer__body">
    <div class="customer-body-wrapper">
      <% 5.times do  %>
      <div class="customer__apply-item">
        <div class="apply-card">

              <div class="apply-card-head">
                <div class="apply-card-head-title"><%= 'HEAD' %></div>
                <div class="apply-card-head-dots"><%= '||' %></div>
              </div>

              <div class="apply-card-info">
                <div class="apply-card-info-type"> <%= 'TEST project' %></div>
                <div class="apply-card-info-time"> <%= 'Expires of 2019-10-10' %></div>
                <div class="apply-card-info-time"> <%= 'Expires of 2019-10-10' %></div>
              </div>

              <div class="apply-card-body">
                <%= 'Универсальное свойство, которое позволяет одновременно задать значения transition-property, transition-duration..' %>
              </div>

              <div class="apply-card-skills">
                <div class="apply-card-skills-item">ios</div>
                <div class="apply-card-skills-item">css</div>
              </div>

              <div class="apply-card-footer">

                <%= 'Новые отклики:' %>
              </div>
       </div>
      </div>
    <% end %>


    </div>
</section>
