<section class="top-menu">
  <%= link_to projects_path do %>
    <%= content_tag :span, t(:active), class: "top-menu__item-active" %>
  <% end %>
  <%= link_to "#" do %>
    <%= content_tag :span, t(:inactive), class: "top-menu__item" %>
  <% end %>
</section>





<section class="customer__body">
    <div class="customer-body-wrapper">
      <h1 class="customer__title"><%= t(:responses) %></h1>
      <div class="customer__response">
        <%= image_tag("respons.png", alt: "response") %>
      </div>
      <div class="customer__response">
        <%= image_tag("respons.png", alt: "response") %>
      </div>
      <div class="customer__response">
        <%= image_tag("respons.png", alt: "response") %>
      </div>
      <div class="customer__fixed">
        <%= link_to new_project_path do %>
          <%= image_tag("plus.svg", alt: "plus") %>
        <% end %>
      </div>
    </div>
  </section>
